<%- include('template/header'); -%>

<!-- Webpage main content -->
<div class="container mb-4">
    <h3 class="text-center my-4">Register</h3>

    <div class="w-50 mx-auto">
        <% if (status=="success" ) { %>
            <h4 class="text-success text-center">
                Successfully registered! You can login now.
            </h4>
        <% } else if (status=="failed") { %>
            <h4 class="text-danger text-center">
                There is an error in registeration process. Please try again later.
            </h4>
        <% } %>
        <div class="row border border-secondary-subtle rounded p-3">
            <form action="/register" name="registerForm" method="post">
            <!-- User details -->
                <div class="mb-2">
                    <label class="form-label" for="name">Name</label>
                    <input class="form-control" type="text" id="name" name="name">
                </div>
                <div class="mb-2">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control" type="text" id="email" name="email">
                </div>
                <div class="mb-2">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-control" type="password" id="password" name="password">
                </div>

                <!-- Buttons -->
                <div class="row my-4 justify-content-end">
                    <button type="reset" class="btn btn-primary col-auto ">Reset</button>
                    <button type="submit" class="btn btn-success col-auto mx-2">Submit</button>
                </div>
            </form>
            <div class="d-flex justify-content-end">
                <a href="/login" >
                    Already have an account? Login now!
                </a>
            </div>
        </div>
    </div>
</div>

<%- include('template/footer'); -%>