<footer>
    <div class="container-fluid bg-info-subtle text-center pt-2 pb-1 rounded">
        <p>
            <script>
                let date = new Date();
                document.write("<b><em>Last update on: </em></b>" + date.toLocaleDateString());
            </script>
            <br>
            
            &copy; Deakin Student 2024
        </p>
    </div>
</footer>
</body>
</html>